@font-face {
   font-family: 'SNAP____';
   font-display: swap;
   src: url('file:///C:/Users/franc/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-26_120600/fonts/SNAP____/font.TTF');
}
